extends ../layouts/layout.pug
block content
	.row
		.col.s12
			br
			.page-title
				form(method='POST', action='/consulta', accept-charset='UTF-8', role='form')
					input#mesUno(type='hidden', name='mesUno')
					input#mesDos(type='hidden', name='mesDos')
					input#yearUno(type='hidden', name='yearUno')
					input#yearDos(type='hidden', name='yearDos')
					div(style="display:none;")
						select#multiple.js-states.browser-default.select2-hidden-accessible(multiple='', aria-hidden='true', tabindex='-1', style='width:100%;', name='select_cons')
							each row in consultores
								option(value=row.co_usuario)= row.no_usuario
					button#relatorio.waves-effect.waves-light.btn(name='relatorio', type='submit', value='relatorio')
						i.fa.fa-file-o.chart(aria-hidden='true')
					button#pizza.waves-effect.waves-light.btn(name='pizza', type='submit', value='pizza')
						i.fa.fa-pie-chart(aria-hidden='true')
		.col.s12.m12.l12
			.card
				.card-content
					#table-agence.row
						.col.s12.m12.l12
							a(href='/', style='color: #0089ec !important;')
								i.fa.fa-arrow-left.fa-3(aria-hidden='true')
								|  Atrás
							if query == ''
								include ../layouts/include.pug
							#grafico.center(style='width: 90%;')
							script(src="js/jquery-3.2.0.min.js")
							script(src="js/highcharts.js")
							script(src="js/exporting.js")
							script.
								$(function($){
								
									var list = [];
									var list_mes = [];
									var list_brut = [];
									var list_user = [];
									var query = !{query};
									var query2 = !{query2};
									for( var i = 0; i < query.length; i++ ){
										for( lol in query2 ){
											list.push(query[i].liquida);
											list_mes.push(query[i].mes);
											list_brut.push(query[i].brut_salario);
											list_user.push(query[i].co_usuario);
											if(list_mes == 1){
												list_mes = JSON.stringify('Enero');
											}
										}
									}
									Highcharts.chart('grafico', {
										title: {
										text: 'Grafico de consultores'
										},
										//MES
										xAxis: {
											categories: [list_mes]
										},
										//LIQUIDA
										series: [
											{
												type: 'column',
												name: list_user,
													data: [list]
											}, 
											// BRUT_SALARIO
											{
												type: 'spline',
												name: 'Average',
												data: [list_brut],
												marker: {
													lineWidth: 2,
													lineColor: Highcharts.getOptions().colors[3],
													fillColor: 'white'
												}
											},
										]
									});
									
								});