extends ../layouts/layout.pug
block content
	.row
		.col.s12
			br
			.page-title
				form(method='POST', action='/consulta', accept-charset='UTF-8', role='form')
					input#mesUno(type='hidden', name='mesUno')
					input#mesDos(type='hidden', name='mesDos')
					input#yearUno(type='hidden', name='yearUno')
					input#yearDos(type='hidden', name='yearDos')
					div(style="display:none;")
						select#multiple.js-states.browser-default.select2-hidden-accessible(multiple='', aria-hidden='true', tabindex='-1', style='width:100%;', name='select_cons')
							each row in consultores
								option(value=row.co_usuario)= row.no_usuario
					button#relatorio.waves-effect.waves-light.btn(name='relatorio', type='submit', value='relatorio')
						i.fa.fa-file-o.chart(aria-hidden='true')
					button#pizza.waves-effect.waves-light.btn(name='pizza', type='submit', value='pizza')
						i.fa.fa-pie-chart(aria-hidden='true')
		.col.s12.m12.l12
			.card
				.card-content
					#table-agence.row
						.col.s12.m12.l12
							a(href='/', style='color: #0089ec !important;')
								i.fa.fa-arrow-left.fa-3(aria-hidden='true')
								|  Atrás
							if query == ''
								include ../layouts/include.pug
							#grafica.center(style='width: 90%;')
							script(src="js/jquery-3.2.0.min.js")
							script(src="js/highcharts.js")
							script(src="js/exporting.js")
							script.
								$(function($){
									var query = !{query};
									newObj = function(Obj,obj2,obj3){
									    if(Obj[obj2]){
									        Obj[obj2][Obj[obj2].length] = obj3;
									    }else{
									        Obj[obj2] = [obj3];
									    }
									}
									var series={}
									var brut_salario=[]
									seriesPush=[]
									var mes=[]
									var meses=['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'];

									for(row in query){
										var mes2=meses[parseInt(query[row].mes)-1];
										if(mes.indexOf(mes2)==-1){
											var brut_s=parseFloat(query[row].brut_salario)
											brut_salario.push(brut_s);
											mes.push(mes2)
										}
										newObj(series,query[row].no_usuario,query[row].liquida)
									}
									for(var valor in series){
										seriesPush.push({type:'column',name:valor,data:series[valor]})
									}
									seriesPush.push(  {type: 'spline',name: 'Costo Fijo Medio',data: brut_salario,marker: {lineWidth: 3,lineColor: Highcharts.getOptions().colors[4],fillColor: 'red'} })
									Highcharts.chart('grafica', {
								        title: {
								            text: 'Grafica de Consultores Agence'
								        },
								        tooltip: {
										  valueDecimals: 2
										},
								        xAxis: {
								            categories: mes
								        },
								        series: seriesPush
								    });
								});